/* ######################
   #  This file is part of vdr-live!
   #  It is here to give the users the possibility to change the
   #  default css style of vdr-live to their needs.
   #
   #  If you don't want to change default settings, make this file
   #  empty, but don't delete it.
   ######################
*/

/* uncomment this below, to make all tables full page width.
*/
/*
table {
	width: 100%;
}
*/

/* comment this out, if you want epg images at their native size
 * the popup windows. This here restricts their width to 120 px.
 * You might also only change size.
 */
.info-win span.epg_images {
	width: 120px;
}


div#vlcControls {
	text-align: center;
}

.notify-win {
	margin: 0px auto;
 	max-width: 480px; /* depends on the tip backround image width */
 	color: #fff;
}

.notify-win .notify-win-top .notify-win-c,
.notify-win .notify-win-bot .notify-win-c {
	font-size: 1px; /* ensure minimum height */
	height: 17px;
}

.notify-win .notify-win-top {
	background: transparent url(/img/rounded-box-green-tl.png) no-repeat 0px 0px;
	margin-right: 17px; /* space for right corner */
}

.notify-win .notify-win-top .notify-win-c {
	background: transparent url(/img/rounded-box-green-tr.png) no-repeat right 0px;
	margin-right: -17px; /* pull right corner back over "empty" space (from above margin) */
}

.notify-win .notify-win-body {
	background: transparent url(/img/rounded-box-green-ml.png) repeat-y 0px 0px;
 	margin-right: 17px;
}

.notify-win .notify-win-body .notify-win-c {
	background: transparent url(/img/rounded-box-green-mr.png) repeat-y right 0px;
	margin-right: -17px;
}

.notify-win .notify-win-body .notify-win-c .notify-win-s { /* optional gradient overlay */
	/* background: transparent url(/img/rounded-box-green-ms.jpg) repeat-x 0px 0px; */
	padding: 0px 17px 0px 17px;
}

.notify-win .notify-win-bot {
	background: transparent url(/img/rounded-box-green-bl.png) no-repeat 0px 0px;
	margin-right: 17px;
}

.notify-win .notify-win-bot .notify-win-c {
	background: transparent url(/img/rounded-box-green-br.png) no-repeat right 0px;
	margin-right: -17px;
}

