body {
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	font-family: Helvetica,Arial,sans-serif;
}

div.left_area {
	width: 150px;
	float: left;
	margin: 5px;
}

div.inhalt {
	float: left;
	margin: 5px;
}

div.menu {
	border: 1px solid #6D96A9;
	color: #6D96A9;
	padding: 5px;
}

div.menu a {
	text-decoration: none;
}

div.menu a:hover {
	text-decoration: none;
	background: #DEE6EE;
}


div.head_box {
	border: 1px solid #6D96A9;
	background: #DEE6EE;
	margin: 2px;
	padding: 5px;
	font-weight: bold;
	font-size: 14px;
	color: black;
}



table.event {
	width: 250px;
	height: 250px;
	float: left;
	border: 1px solid #6D96A9;
	margin: 2px;
	padding: 0px;
}

table.event tr td.tools {
	background: #DEE6EE;
	padding: 2px;
	width: 25px;
}

table.event tr td.content {
	float: left;
	padding: 5px;
}

table.event tr td.content {
	float: left;
	padding: 5px;
}

div.description {
	height: 150px;
	overflow: auto;
	margin-top: 10px;
}

table.event tr td.station {
	background: #6D96A9;
	color: white;
	font-weight: bold;
	margin: 0;
	padding: 3px 3px 3px 10px;
}

table.event tr td.content .title {
	font-weight: bold;
	height: 15px;
}

table.event tr td.content .short {
	font-size: 11px;
	height: 40px;
}

