/* ######################
   #  This file is part of vdr-live!
   #  It is here to give the users the possibility to change the
   #  default css style of vdr-live to their needs.
   #
   #  If you don't want to change default settings, make this file
   #  empty, but don't delete it.
   ######################
*/

/* uncomment this below, to make all tables full page width.
*/
/*
table {
	width: 100%;
}
*/

/* comment this out, if you want epg images at their native size
 * the popup windows. This here restricts their width to 120 px.
 * You might also only change size.
 */
.info-win span.epg_images {
	width: 120px;
}


