/* ######################
   #  This file is part of vdr-live!
   #  It is here to give the users the possibility to change the
   #  default css style of vdr-live to their needs.
   #
   #  If you don't want to change default settings, make this file
   #  empty, but don't delete it.
   ######################
*/

/* uncomment this below, to make all tables full page width.
*/
/*
table {
	width: 100%;
}
*/

/* comment this out, if you want epg images at their native size
 * the popup windows. This here restricts their width to 120 px.
 * You might also only change size.
 */
.info-win span.epg_images {
	width: 120px;
}

/*
  ##############################
  #  Infowin support styles for EPG-Boxes
  ##############################
*/

div.caption {
	padding: 2px 0px 0px 5px;
}

div.epg_content {
	padding: 0px 0px 7px 0px;
	margin: 0px 0px 0px 0px;
        background: transparent url(../img/bg_tools.png) top left repeat-y;
        border: 1px solid black;
	overflow: hidden;
}

div.epg_content div {
	margin-left: 35px;
}

div.epg_content div.epg_tools {
	float: left;
	width: 26px;
	margin: 0;
	padding: 0;
	padding-top: 3px;

	text-align: center;
	vertical-align: top;
}

div.epg_content div div {
	margin-left: 0px;
}

/*
.info-win div.epg_content div div.progress div {
	margin-left: 0px;
}
*/

div.epg_content div.epg_tools img {
	margin: 2px 5px;
}

span.epg_images img.epg_image {
	width: 100%;
}

.info-win div.boxheader {
	display: none;
}

.info-win div.epg_content {
        border: 0px;
}
