.#*
.vscode
CVS

# supplemental files
.cproject
.cvsignore
.dependencies
.project
apply-patches.sh
*.BASE
*.LOCAL
*.REMOTE
*~
*.bak
*.code-workspace
*.new
*.old
*.orig
*.rej
*.sav
*.tmp

# compilation results
css/*.cpp
javascript/*.cpp
pages/*.edep
pages/*.cpp
gen_version_suffix.h
*.a
*.mo
*.o
*.pot
*.so
.libs
locale
