This file documents the configuration of mootools!

The otherwise cool feature of mootools to select only needed
functionality can be a nightmare when trying to add additional
features in a distributed development situation. Because the
configured mootools download does not document in a central position
which options have been selected to optain a specific version of
mootools.

Therefore this file, which documents the minimal selections needed to
get a valid mootools configuration for the features of mootools used in
live. In order to obtain the right mootools configuration follow these steps:

- Go to mootools download page: http://mootools.net/download

- Usualy 'Core' is preselected. This is OK :) but you can unselect it
  to have a 'clean' starting base.

- Scroll down to the bottom of the page and select the following
  options towards the top of the download page in this order:
    1. Tips
    2. Hash
    3. Json
    4. Ajax
    5. Drag.Move
    6. Window.DomReady
    7. Element.Selectors

- Then open 'Choose compression type' and select 'No Compression' to
  have fully documented mootools source. This helps when developing
  own functionality and when trying do debug errors with Firebug.

If mootools is extended by additional modules, please document this
here in this file, by updating the selection scheme above.
